body {
    margin: 0;
  }

  .containerPic{
      margin-left: 2em;
      width: 85%;
      height: 85%
     
      }
.blacknwhite {
    align-items: stretch;
    max-height: 85%;
    max-width: 85%;
    width: auto;
}

.containerBar{
    position: fixed; right: 0px;
    height: 100%;
    top: 0%;
    background-color: slateblue;
    z-index: 1;
}

.card-img-top {
    height: 15em;
    width: 15em;
    border-radius: 100%;
    align-content: center;
}



 h1 {
     color: black;
     font: open, sans-serif;
 }

#about {
     color:#888;
     font: open, sans-serif
 }

 #one {
     width: 85%
 }

#two {
    width: 85%
}

#three {
    width: 85%
}

#contact {
    width: 85%
}

.container2 {
    padding-top: 4em;
    padding-right: 0px;
    padding-bottom: 2em;
    padding-left: 0px;
    width: 85%;
    margin-left: 25px;
    margin-right: auto;
    color: #888;
    font: open, sans-serif
}

hr {
    border: 2px
}  

.container3 {
    width: 85%;
    margin-left: 25px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-content: space-between;
   
}

b {
    font: open, sans-serif;
    color: black 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-lg-3 col-md-3 col-sm-6 text-center {
    text-align: center;
    flex-basis: 100%;
    max-width: 25%;
    float: left;
    position : relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   
}  


.text-center {
    text-align: center
}

.col-md-3 {
    flex-grow: 0%;
    flex-shrink: 0%;
    flex-basis: 45%;
    max-width: 25%
}

img {
    width: 35%;
    height: 35%;
    object-fit: contain;
    background: transparent;
    vertical-align: center;
}

.skillDescript {
    color: #888;
    font-family: open, sans-serif;
    font-size: 5px;
    display: block;
    padding-bottom: 13px;
    line-height: 1em;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.container4 {
    margin-left: 25px;
}

.container5 {
    margin-left: 25px;
}